.navbar-header img{
	width: 200px;
	height: 50px;
}

h1,h2,h3,h4,h5,h6{
	text-align: center;
}
.thumbnail img {
	width: 50%;
}
.item img {
	margin: 0px auto;
}
#success_message{ 
	display: none;
}
legend {
	text-align: center;
}
h5{
	color: #f2f2f2;
}
h4{
	color :#FFA500;
}
.nav {
	border-radius: 5px;
}
.thumbnail a img{
	width: 200px;
	height: 200px;
}
.footer {
	padding-left: 0;
	padding-right: 0;
}
.thumbnail a:hover {
	text-decoration: none;
}
.thumbnail:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jarak {
	margin-bottom: 100px;
}
#myCarousel ol li.active {
	background-color:#000a1a;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead 
	{ 
		display: none; 
	}
	table#cart tbody td 
	{ 
		display: block; 
		padding: .6rem; 
		min-width:320px;
	}
	table#cart tbody tr td:first-child {
	 background: #333; color: #fff; 
	}

	table#cart tbody td:before 
	{
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td
	{
		display:block; 
	}
	table#cart tfoot td .btn
	{
		display:block;
	}
	
}

#back-to-top {
	padding-top: 10px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background: #ccc;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}